<div class="profile-card">
    <div class="avatar-name">
        <!-- <img class="profile-card__avatar" src="/assets/images/account_default.png" alt=""> -->
         
        <img class="profile-card__avatar"
            [src]="profile?.avatarUrl | imgUrl"
            alt="">
         
        <div class="profile-card__name">
            <strong class="h6">{{profile?.firstName}} {{profile?.lastName}}</strong>
            <span>{{profile?.username}}</span>
        </div>
    </div>
    <div class="profile-card__descripton">
        <p>
        {{profile?.description}}
        </p>
    </div>
    <div class="profile-card__tags">
        @for(skill of profile?.stack; track false){
            <div class="skill-tag">{{skill}}</div>
        }

        <!-- <div class="skill-tag">Angular</div>
        <div class="skill-tag">Html</div>
        <div class="skill-tag">Css</div>
        <div class="skill-tag main-tag">TS</div> -->
    </div>
    <div class="profile-card__action-btns">
        <button class="btn">Подписаться</button>
    </div>
</div>