:host{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100dvh;
    align-items: center;
    margin: 0 5%;
}
.login-form{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.tt-control-label{
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.tt-control-input{
    display: block;
    border:  1px solid var(--light-color);
    border-radius: 4px;
    padding: 12px 20px;
    background-color: var(--dark-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    font-family: 'JetBrains Mono';
    color: var(--light-color);
    width: 100%;
    box-sizing: border-box;
}
.btn.login-btn{
    display: block;
    padding: 10px 20px;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid var(--dark-color);
    border-radius: 4px;
}